{% extends 'base.html' %}
<!-- title -->
{% block title %} Password reset done {% endblock title %}
<!-- static files -->
{% load static %}
<!-- content starts -->
{% block content %}

<div class="content">
  <div class="card blue-grey darken-1">
    <div class="card-content white-text">
      <span class="card-title">Password reset done </span>
      <p>
        Your password has been set. You may go ahead and
        <a href="{% url 'accounts:sign_in' %}">sign in</a> now.
      </p>
    </div>
  </div>
</div>

<!-- content ends -->
{% endblock content %}
