{% extends 'base.html' %}
<!-- title -->
{% block title %} Password reset email sent {% endblock title %}
<!-- static files -->
{% load static %}
<!-- content starts -->
{% block content %}

<div class="row center-content">
  <div class="col s12" style="max-width: 30rem">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Password reset email sent</span>
        <p>
          We've emailed you instructions for setting your password, if an
          account exists with the email you entered. You should receive them
          shortly.
        </p>
        <p>
          If you don't receive an email, please make sure you've entered the
          address you registered with, and check your spam folder.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- content ends -->
{% endblock content %}
