{% extends 'base.html' %}
<!-- title -->
{% block title %} Password reset {% endblock title %}
<!-- static files -->
{% load static %}
<!-- content starts -->
{% block content %}

<div class="row center-content">
  <div class="col s12" style="max-width: 30rem">
    <div class="card grey lighten-5">
      <div class="card-content blue-text text-darken-2">
        {% if validlink %}
        <span class="card-title">Reset your password</span>
        <form action="" method="post" id="passwordReset">
          {% csrf_token %}
          <div class="row">
            {% for field in form %}
            <div class="input-field col s12">
              <i class="material-icons prefix">vpn_key</i>
              <label for="id_new_password{{ forloop.counter }}">
                {{field.label}}*
              </label>
              {{ field }}
              <!---->
              {% if field.errors %}
              <span class="helper-text email-error">{{field.errors}}</span>
              {% endif %}
            </div>
            {% endfor %}
          </div>
          <button
            class="btn waves-effect waves-light btn-large disabled"
            type="submit"
            id="resetBtn"
          >
            Reset password
            <i class="material-icons right">send</i>
          </button>
        </form>
        {% else %}
        <p class="card-text">
          The password reset link was invalid, possibly because it has already
          been used. Please request a new password reset.
        </p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<!-- content ends -->
{% endblock content %}

<!---->
{% block js %}
<script>
  const passWordResetForm = document.getElementById("passwordReset");
  const formElements = document.querySelectorAll("#passwordReset  input");
  passWordResetForm.addEventListener("keyup", (event) => {
    let empty = false;
    formElements.forEach((element) => {
      if (element.value === "") {
        empty = true;
      }
    });
    if (
      passWordResetForm.new_password1.value !==
      passWordResetForm.new_password2.value
    ) {
      empty = true;
    }
    if (empty) {
      $("#resetBtn").addClass("disabled");
    } else {
      $("#resetBtn").removeClass("disabled");
    }
  });
</script>
{% endblock js %}
