{% extends 'base.html' %}
<!-- title -->
{% block title %} Password reset {% endblock title %}
<!-- static files -->
{% load static %}
<!-- content starts -->
{% block content %}

<div class="content">
  <div class="card grey lighten-5">
    <div class="card-content blue-text text-darken-2">
      <span class="card-title">Reset your password</span>
      <form action="" method="post" id="sendResetForm">
        {% csrf_token %}
        <div class="row">
          {% for field in form %}
          <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <label for="id_{{field.label|lower}}"> {{field.label}}* </label>
            {{ field }}
            <!---->
            {% if field.errors %}
            <span class="helper-text email-error">{{field.errors}}</span>
            {% endif %}
          </div>
          {% endfor %}
        </div>
        <button
          class="btn waves-effect waves-light btn-large disabled"
          type="submit"
          id="sendResetBtn"
        >
          Reset password
          <i class="material-icons right">send</i>
        </button>
      </form>
    </div>
  </div>
</div>

<!-- content ends -->
{% endblock content %}

<!---->
{% block js %}
<script>
  const sendResetForm = document.getElementById("sendResetForm");
  const formElements = document.querySelectorAll("#sendResetForm  input");
  sendResetForm.addEventListener("keyup", (event) => {
    let empty = false;
    formElements.forEach((element) => {
      if (element.value === "") {
        empty = true;
      }
    });

    if (empty) {
      $("#sendResetBtn").addClass("disabled");
    } else {
      $("#sendResetBtn").removeClass("disabled");
    }
  });
</script>
{% endblock js %}
