{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OAS - {% block title %}{% endblock title %}</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Libre+Baskerville"
      rel="stylesheet"
    />
    <link
      href="{% static 'css/style.css' %}"
      type="text/css"
      rel="stylesheet"
      media="screen,projection"
    />
  </head>
  <body>
    {% include 'includes/_header.html' %}
    <!--messages-->
    {% if messages %}
    <!--iterate messages-->
    {% for message in messages %}
    <div class="materialert {{message.tags}}">
      <div class="material-icons">check</div>
      {{message}}
      <button type="button" class="close-alert">×</button>
    </div>
    {% endfor %} {% endif %}
    <!-- content -->
    {% block content %}{% endblock content %}
    <!--footer-->
    {% include 'includes/_footer.html' %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="{% static 'js/materialize.min.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>
    <script src="https://use.fontawesome.com/109e5209ed.js"></script>
    <script>
      $(document).ready(function () {
        $(".modal").modal();
        $("select").formSelect();
        $("select").material_select();
      });
    </script>
  </body>
</html>
